<div class="jumbotron" style="margin-top:30px;background-color:white">
  <div class="text-center">
    <p><%= image_tag("logo.png") %></p>
  </div>
</div>

<div clas="row">
  <div class="col-md-6">
    <%= render :partial => 'nytimes_stories' %>
    <p class="text-center"><%= image_tag("nytimes_api.png") %></p>
  </div>
  <div class="col-md-6">
    <p class="text-center"><%= image_tag('dtla_skyline.jpg')%></pe>
  </div>
</div>